{% load static %}
<script src="{% static "jquery-3.5.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "ajax.js" %}"></script>

<button type="button" name="button" id="loginForm">Enviar POST</button>
<button type="button" name="button" id="loginForm2">Enviar GET</button>
<button type="button" name="button" id="loginForm3">Enviar PUT</button>


<input type="text" name="phone" id="test1" value="kj">
<input type="text" name="direction" id="test2" value="lk">
<input type="text" name="localphone" id="test3" value="lk">

<div class="hola" style="visibility:hidden">

</div>
